.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/

data/raw/*
!data/raw/.gitkeep
!data/raw/images/
!data/raw/masks/
data/raw/images/*
data/raw/masks/*
!data/raw/images/.gitkeep
!data/raw/masks/.gitkeep

data/processed/*
!data/processed/.gitkeep

outputs/figures/*
outputs/reports/*
outputs/masks/*
outputs/pipeline_tests/*
!outputs/figures/.gitkeep
!outputs/reports/.gitkeep
!outputs/masks/.gitkeep
!outputs/pipeline_tests/.gitkeep
